:host {
  height: 100%;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  grid-template-columns: repeat(7, 1fr);
}

.app-header {
  background: var(--background-secondary-color);
  color: var(--font-secondary-color);
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  grid-row: 1;
  grid-column: 1 / 10;
}

.app-header .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  flex-direction: column;

  @media (min-width: 900px) {
    flex-direction: row;
  }
}

.app-header h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.app-header nav {
  display: flex;
  gap: 24px;
  flex-direction: column;

  @media (min-width: 900px) {
    flex-direction: row;
  }
}

.app-header nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: var(--border-radius-small);
  transition: background 0.3s;
}

.app-header nav a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.app-header nav a.active {
  background: var(--primary-color);
}

.app-main {
  background: var(--background-color);
  grid-row: 2;

  grid-column: 2 / 7;

  @media (min-width: 600px) {
    grid-column: 2 / 8;
  }

  @media (min-width: 900px) {
    grid-column: 3 / 6;
  }

  overflow-y: auto;
}

.app-footer {
  background: var(--background-secondary-color);
  color: var(--font-secondary-color);
  padding: 24px 0;
  text-align: center;

  grid-row: 3;
  grid-column: 1 / 10;
}