<ng-template #inputTemplate let-formField="formField" let-id="id" let-label="label" let-testid="testid" let-type="type">
    <label [attr.for]="id">{{label}}</label>
    <input id="{{id}}" type="{{type}}" [field]="formField" [attr.data-testid]="testid" />
    @if (formField().invalid() &&
    formField().touched()
    ) {
    <div class="error">
        @for (error of formField().errors(); track error.kind) {
        <span>{{error.message}}</span>
        }
    </div>
    }
</ng-template>

<form>
    <div class="group">
        <div class="form-group">
            <ng-container *ngTemplateOutlet="inputTemplate; context: { 
                    formField: registerForm.firstName, 
                    id: 'firstName', 
                    label: 'Vorname', 
                    testid: 'input-firstName',
                    type: 'text'
                }"></ng-container>
        </div>
        <div class="form-group">
            <ng-container *ngTemplateOutlet="inputTemplate; context: { 
                    formField: registerForm.lastName, 
                    id: 'lastName', 
                    label: 'Nachname', 
                    testid: 'input-lastName',
                    type: 'text'
                }"></ng-container>
        </div>
    </div>

    <div class="form-group">
        <ng-container *ngTemplateOutlet="inputTemplate; context: { 
                formField: registerForm.street, 
                id: 'street', 
                label: 'Straße und Hausnummer', 
                testid: 'input-street',
                type: 'text'
            }"></ng-container>
    </div>
    <div class="form-group">
        <ng-container *ngTemplateOutlet="inputTemplate; context: { 
                formField: registerForm.addressLine2, 
                id: 'addressLine2', 
                label: 'Adresszeile 2', 
                testid: 'input-addressLine2',
                type: 'text'
            }"></ng-container>
    </div>
    <div class="group">
        <div class="form-group">
            <ng-container *ngTemplateOutlet="inputTemplate; context: { 
                formField: registerForm.postalCode, 
                id: 'postalCode', 
                label: 'Postleitzahl', 
                testid: 'input-postalCode',
                type: 'text'
            }"></ng-container>
        </div>
        <div class="form-group">
            <ng-container *ngTemplateOutlet="inputTemplate; context: { 
                formField: registerForm.city, 
                id: 'city', 
                label: 'Wohnort', 
                testid: 'input-city',
                type: 'text'
            }"></ng-container>
        </div>
    </div>
    <div class="form-group">
        <ng-container *ngTemplateOutlet="inputTemplate; context: { 
                formField: registerForm.country, 
                id: 'country', 
                label: 'Land', 
                testid: 'input-country',
                type: 'text'
            }"></ng-container>
    </div>
    <div class="form-group">
        <ng-container *ngTemplateOutlet="inputTemplate; context: { 
                formField: registerForm.phonenumber, 
                id: 'phonenumber', 
                label: 'Telefonnummer', 
                testid: 'input-phonenumber',
                type: 'tel'
            }"></ng-container>
    </div>
</form>