button {
    padding: 1em;
    margin: 1em;
    border: none;
    border-radius: var(--border-radius-small);
    background-color: var(--background-secondary-color);
    color: var(--font-secondary-color);
    cursor: pointer;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}